
body{
    background-color:aliceblue;
    padding: 100px;
    font-family:'Times New Roman', Times, serif;
}

.Scan-wrap{
    width: 20%;
    height: 380px;
    /* border: 1px solid red; */
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    background-color: white;
}

.Scan-con img{
    width: 200px;
    height: 200px;
    padding: 17px;
}

.Scan-con p{
    text-align: center;
    justify-content: space-evenly;
}

.Scan-con h6{
    text-align: center;
    font-weight: 100;
}
